@model IEnumerable<UniConn_CS.Models.EVENTS>

@{ ViewBag.Title = "Etkinlikler"; }

<h2 class="fw-bold mb-4">Upcoming Events</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="custom-card d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="card-icon bg-warning text-white rounded-circle">
                        <i class="fa-regular fa-calendar"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="card-title">@item.event_name</h5>

                        <p class="card-meta mb-0">
                            <i class="fa-solid fa-location-dot me-1"></i> @item.location |
                            <i class="fa-regular fa-clock me-1"></i> @item.event_date.ToString("dd MMM HH:mm")
                        </p>
                    </div>
                </div>
                <a href="/EVENTS/Details/@item.event_id" class="btn btn-outline-dark rounded-pill btn-sm px-4">Details</a>
            </div>
        </div>
    }
</div>